<div class="ct_middle_cnt">
    <div class="mt-4 mb-5">
        <h4 class="mb-0 ct_h2 mb-4">Users</h4>
        <div class="table-responsive ct_custom_table ">
            <div id="example_wrapper" class="dt-container dt-bootstrap5 dt-empty-footer">
                <div class="row mt-2 justify-content-between">
                    <div class="col-md-auto me-auto ">
                    </div>
                  
                </div>
                <div class="row mt-2 justify-content-md-center">
                    <div class="col-12 ">
                        <table class="table table-striped dataTable mb-0 w-100" id="example" aria-describedby="example_info"
                            style="width: 1531px;">
                          
                            <thead>
                                <tr role="row">
                                    <th data-dt-column="0" rowspan="1" colspan="1"
                                        class="dt-orderable-asc dt-orderable-desc dt-ordering-asc" aria-sort="ascending"
                                        aria-label="Date: Activate to invert sorting" tabindex="0"><span
                                            class="dt-column-title" role="button">S No.</span><span
                                            class="dt-column-order"></span></th>
                                    <th data-dt-column="1" rowspan="1" colspan="1"
                                        class="dt-orderable-asc dt-orderable-desc"
                                        aria-label="Daily Bible verse/s for this date: Activate to sort" tabindex="0">
                                        <span class="dt-column-title" role="button">Name</span><span class="dt-column-order"></span>
                                    </th>
                                    <th data-dt-column="2" rowspan="1" colspan="1"
                                    class="dt-orderable-asc dt-orderable-desc" aria-label="Action: Activate to sort"
                                    tabindex="0"><span class="dt-column-title" role="button">Email</span><span
                                        class="dt-column-order"></span></th>
                                    <th data-dt-column="2" rowspan="1" colspan="1"
                                        class="dt-orderable-asc dt-orderable-desc" aria-label="Action: Activate to sort"
                                        tabindex="0"><span class="dt-column-title" role="button">Action</span><span
                                            class="dt-column-order"></span></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let row of data; let i = index">
                                    <td>{{i+1}}</td>
                                    <td>
                                        {{row.first_name}} {{row.last_name}}
                                    </td>
                                    <td>{{row.email}}</td>
                                    <td>
                                        <button class="ct_action_btn ct_dlt_btn">
                                            <i class="fa-solid fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
               
                            </tbody>

                            <tfoot></tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>