<div class="ct_right_header">
    <div class="ct_toggle_bar">
        <i class="fa-solid fa-bars-staggered"></i>
    </div>
   <div class="">
    <div class="ct_search_bar">
        <input type="text" class="form-control" placeholder="Search Verse" onclick="search_list()">
        <i class="fa-solid fa-magnifying-glass"></i>
        <div class="ct_search_list12">
            <ul>
                <li>James 1:19</li>
                <li>James 1:19</li>
                <li>James 1:19</li>
                <li>James 1:19</li>
            </ul>
        </div>
    </div>
   </div>

<div class="ct_my_account dropdown">
    <button class="btn ct_custom_btn py-2 px-4 w-auto dropdown-toggle"  type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" >
       My Account
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="my-profile.html">My Profile</a></li>
        <li><a class="dropdown-item" href="change-password.html">Change Password</a></li>
        <li>  <a class="dropdown-item" href="login.html">Log Out</a></li>
      </ul>
    
</div>
</div>