<div class="ct_middle_cnt">
    <div class="mt-4 mb-5">
        <h4 class="mb-0 ct_h2 mb-4">Previous Verses</h4>

       


        <div class="">
            <div class="row mt-4">
                <div class="col-md-12 mb-3">
                    <div class="form-group">
                        <label for="Name">Sidebar Banner</label>
                        <input type="file" (change)="PreviewImage('sidebar')"   placeholder="Enter Venue Name" id="exampleInputFile1"  class="form-control"   accept="image/png, image/svg+xml, image/gif, image/jpeg">
                        <img class="w-50" src="{{imageURl}}/{{imageData[0]?.sidebar_image}}"  alt="" id="uploadPreview1">
                        <!-- <span class="text-danger"
                        *ngIf="createRace.get('race_venue')?.invalid && createRace.get('race_venue')?.touched">
                        <div *ngIf="createRace.get('race_venue')?.errors?.['required']">
                          Please enter race venue
                        </div>
                      </span> -->
                    </div>
                  </div>
                  <div class="col-md-6 mb-3">
                    <div class="form-group">
                        <label for="Name">Full image</label>
                        <input type="file"   placeholder="Enter Venue Name" id="exampleInputFile"  class="form-control"   accept="image/png, image/svg+xml, image/gif, image/jpeg">
                        <img class="w-50"  alt="" id="uploadPreview">
                        <!-- <span class="text-danger"
                        *ngIf="createRace.get('race_number')?.invalid && createRace.get('race_number')?.touched">
                        <div *ngIf="createRace.get('race_number')?.errors?.['required']">
                          Please enter race number
                        </div>
                      </span> -->
                    </div>
                </div>
                  <div class="col-md-6 mb-3">
                  
                    <div class="form-group">
                        <label for="Name">Small image</label>
                        <input type="file" (change)="PreviewImage('small')"    placeholder="Enter Venue Name" id="exampleInputFile2"  class="form-control"   accept="image/png, image/svg+xml, image/gif, image/jpeg">
                        <img class="w-50" src="{{imageURl}}/{{imageData[0]?.small_image}}"  alt="" id="uploadPreview2">
                        <!-- <span class="text-danger"
                        *ngIf="createRace.get('city')?.invalid && createRace.get('city')?.touched">
                        <div *ngIf="createRace.get('city')?.errors?.['required']">
                          Please enter race city
                        </div>
                      </span> -->
                    </div>
                  </div>
                  
                  
                 

                    <div class="d-flex border-0 mt-4 gap-2">
                        <button type="button" class="ct_custom_btn w-auto py-2" data-bs-dismiss="modal">Cancel</button>
                        <button type="button" class="ct_custom_btn w-auto py-2" >Update</button>
                    <div class="form-group">
                        <label for="Name">Full image</label>
                        <input type="file" (change)="PreviewImage('big')"    placeholder="Enter Venue Name" id="exampleInputFile3"  class="form-control"   accept="image/png, image/svg+xml, image/gif, image/jpeg">
                        <img class="w-50" src="{{imageURl}}/{{imageData[0]?.big_image}}"  alt="" id="uploadPreview3">
                        <!-- <span class="text-danger"
                        *ngIf="createRace.get('race_number')?.invalid && createRace.get('race_number')?.touched">
                        <div *ngIf="createRace.get('race_number')?.errors?.['required']">
                          Please enter race number
                        </div>
                      </span> -->
                    </div>

                    <div class="justify-content-center border-0">
                        <button type="button" class="ct_custom_btn" data-bs-dismiss="modal">Cancel</button>
                        <button type="button" class="ct_custom_btn" (click)="onUpdate()">Update
                            </button>
                    
                    </div>
                 
              </div>
            
        </div>
    </div>
</div>



