<div class="ct_middle_cnt">
    <div class="mt-4 mb-5">
        <h4 class="mb-0 ct_h2 mb-4">Previous Verses</h4>
    
        <div class="table-responsive ct_custom_table">
            <div id="example_wrapper" class="dt-container dt-bootstrap5 dt-empty-footer">
                <div class="row mt-2 justify-content-between">
                    <div class="col-md-auto ms-auto ">
                        <div class="dt-search"><label for="dt-search-0">Search:</label><input type="search"
                                class="form-control form-control-sm" id="dt-search-0" placeholder=""
                                aria-controls="example">
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>
</div>