<div class="ct_middle_cnt">
    <h4 class="mb-4 ct_h2">Welcome John</h4>
    <div class="row">
        <div class="col-md-3 mb-4">
            <div class="ct_dash_card">
                <h5>All User</h5>
                <h2>200</h2>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="ct_dash_card">
                <h5>Saved  Verses</h5>
                <h2>250</h2>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="ct_dash_card">
                <h5>All Email</h5>
                <h2>250</h2>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="ct_dash_card">
                <h5>All Ads</h5>
                <h2>250</h2>
            </div>
        </div>
    </div>
   

</div>